:root {
    --primary: #1f1d1d;
    --secondary: #70cbee;
    --light: #ffffff;
    --dark: #6c757d;
    --font-p: "Quicksand", sans-serif;
}

body {
    overflow-x: hidden;
    background: #e9e8f1;
}

html {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 400 !important;
    font-family: "Lato", sans-serif;
}

p, ul, a {
    font-weight: 400 !important;
    font-family: var(--font-p) !important;
}

li {
    list-style: none;
}

/* contact */
.text-contact {
    color: var(--secondary);
}

.border-contact {
    border: 0.1rem solid var(--primary) !important;
}

.contact a{
    color: var(--primary) !important;
}

@media (max-width: 576px) {
    .border-contact {
        padding: 2rem;
    }

    .text-contact {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (min-width: 778px) and (max-width: 1000px) {
    .d-inline-flex {
        flex-direction: row;
        align-items: center;
    }

    .text-contact {
        margin-right: 1rem; 
    }

    .p-4 {
        padding: 1.5rem; 
    }

    p {
        font-size: 0.875rem; 
    }
}
/* contact end */


.bg-breadcrumb {
    background: 
        linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1)),
        url('/img/masthead.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar */
.rs-navbar {
    padding-top: 0;
    background-color: var(--primary);
    transition: all 0.2s;
}

.rs-navbar-scroll {
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: .4s;
    backdrop-filter: blur(10px);
    background-color: transparent;
}

.rs-navbar a { 
    color: var(--dark); 
    font-weight: 600 !important;
}

.rs-navbar-scroll a { 
    color: #000000; 
    font-weight: 600 !important;
}

.rs-navbar .navbar-nav .nav-item {
    padding: 0 5px;
}

.rs-navbar .navbar-nav .nav-item a:hover {
    background: var(--light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-color-active {
    color: var(--light) !important;
}

.nav-color:hover{
    background: var(--light);
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
    
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
    }
}
/* Navbar End */

/* mast */
.masthead {
    overflow-x: hidden;
    padding: 0;
  }

.masthead {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.4)), url(/img/masthead.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 480px) {
    .masthead {
        background-attachment: scroll;
        background-position: left center;
    }
}

.masthead h1 {
color: var(--light);
}

.btn.btn-primary {
    border: 0;
    background: var(--secondary);
}

.btn.btn-primary:hover {
    background: var(--dark) !important;
    color: var(--light) !important;
}
/* mast end */

/* casa_index */
.image-casa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.fade-circle {
    position: absolute;
    top: -30%;
    right: -190px; 
    transform: translateY(-50%);
    width: 380px;
    height: 380px;
    background: radial-gradient(circle, rgba(238, 193, 112, 0) 0%, rgba(238, 193, 112, 0.5) 70%, rgba(238, 193, 112, 1) 100%);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 0; 
    transform: translateY(0%);
}

.small-circle-second {
    position: absolute;
    top: 36%;
    right: -110px; 
    width: 340px; 
    height: 340px;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(238, 193, 112, 1); 
    border-radius: 50%;
    z-index: 1; 
}

@media (max-width: 480px) { /* Smartphone */
    .small-circle-second {
        width: 370px;
        height: 370px;
        right: 50px;
        top: 50%;
    }
}

.image-container img {
    position: relative;
    z-index: 2;
    border-radius: 0.25rem; 
}

.text-container {
    position: relative;
    z-index: 3; 
}

.text-container a {
    display: inline-block;
    margin-top: 20px;
    color: white;
}
/* casa_index end */

/* posizione_index */
.circle {
    width: 240px;
    height: 240px;
    background: var(--secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circle-text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
/* posizione_index end */

/* expedition_index start */
.fade-circle-expedition {
    position: absolute;
    top: -30%;
    right: -190px; /* Spostamento del cerchio verso destra */
    transform: translateY(-50%);
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, rgba(238, 193, 112, 0) 0%, rgba(238, 193, 112, 0.5) 70%, rgba(238, 193, 112, 1) 100%);
    border-radius: 50%;
    pointer-events: none; /* Per evitare interferenze nei clic */
    z-index: 0; 
    transform: translateY(0%);
}

.small-circle-expedition {
    position: absolute;
    top: 40%; /* Posiziona il cerchio piccolo sopra il cerchio grande */
    right: -90px; /* Spostamento del cerchio verso destra */
    width: 200px;
    height: 200px;
    background: rgba(238, 193, 112, 1); 
    border-radius: 50%;
    z-index: -1;
}

.video {
    position: relative;
    height: 100%;
    min-height: 400px;
    background: linear-gradient(rgba(254, 218, 154, 0.1), rgba(254, 218, 154, 0.1)), url(/img/expedition.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--light);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: auto;
    margin: auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}

.ratio-16x9 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.ratio-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* expedition_index End */

/* casa */
.image-container-casa img {
    position: relative;
    z-index: -2; 
    border-radius: 0.25rem; 
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; 
}

.fade-circle-casa {
    position: absolute;
    top: -30%;
    right: -190px;
    transform: translateY(-50%);
    width: 380px;
    height: 380px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('/img/camera-2.webp'); 
    background-size: cover; 
    border-radius: 50%;
    pointer-events: none; 
    z-index: -1; 
    transform: translateY(0%);
}

.small-circle-casa {
    position: absolute;
    top: 36%; 
    right: -110px; 
    width: 340px;
    height: 340px;
    background: transparent;
    border-style: solid;
    border-color: #EEC170;
    border-width: 2px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('/img/camera-3.webp');
    background-size: cover;
    border-radius: 50%;
    z-index: -1;
}

@media (max-width: 480px) {
    .small-circle-casa {
        width: 250px;
        height: 250px;
        right: -80px;
        top: 50%;
    }
}

.casa .tab-class .nav-item a.active {
    background: var(--secondary) !important;
}

.text-foto {
    font-family: var(--font-p);
}

.casa .tab-class .nav-item a {
    text-decoration: none;
}

.casa .casa-img .casa-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(212, 167, 98, 0.7);
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.casa .imgcasa-img:hover .casa-overlay {
    opacity: 1;
}

.casa-img img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
/* casa End */


/* service */
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-content-icon i{
    color: var(--secondary);
}
/* Services End */

/* WORKS */
.projects .project-content {
    position: relative;
    overflow: hidden;
}
  
.projects .project-content img {
    transition: 0.3s;
}
  
  .projects .project-content .project-info {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .project-info p {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    color: var(--light);
  }
  
  .zoom {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    color: var(--secondary);
    transition: 0.3s;
  }
  
  .zoom:hover {
    color: var(--secondary);
  }
  
  .projects .project-content:hover .project-info {
    opacity: 1;
  }
  
  .projects .project-content:hover img {
    transform: scale(1.1);
  }

  .tour-item .tour-image {
    height: 300px; /* Altezza fissa, puoi modificare questo valore secondo le tue esigenze */
    object-fit: cover; /* Mantiene il rapporto di aspetto e ritaglia l'immagine se necessario */
    width: 100%; /* Assicura che l'immagine occupi tutta la larghezza del contenitore */
}


/* Team Start */
.team-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.team-item .team-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.team-item .team-icon .share-link {
    opacity: 0;
    transition: 0.9s;
}

.team-item:hover .share-link {
    opacity: 1;
}

.team-item .team-content {
    transition: 0.9s;
    position: relative; /* Aggiunta questa linea */
}

.team-item:hover .team-content {
    background: var(--primary) !important;
    color: var(--dark) !important;
}

.team-item .team-content h4,
.team-item .team-content p {
    transition: 0.5s;
}

.team-item:hover .team-content h4 {
    color: var(--dark) !important;
}

.team-item:hover .team-content p {
    color: var(--light);
}

.badge-image {
    position: absolute;
    bottom: 10px; /* Posizionamento dal fondo della sezione team-content */
    right: 10px; /* Posizionamento dal lato destro della sezione team-content */
    z-index: 10;
}

.badge-image img {
    width: 70px; /* Regola la dimensione dell'immagine del badge */
    height: auto; /* Mantieni il rapporto di aspetto dell'immagine */
}

/* Mobile First */
.team-item .team-icon .share-link {
    opacity: 1; /* Always visible on mobile */
    transition: opacity 0.9s;
}

/* Hide the phone link on mobile */
.team-item .team-icon .share.btn {
    display: none;
}

/* For larger screens */
@media (min-width: 768px) {
    .team-item .team-icon .share-link {
        opacity: 0; /* Initially hidden on larger screens */
    }

    .team-item:hover .team-icon .share-link {
        opacity: 1; /* Visible on hover on larger screens */
    }

    .team-item:hover .team-icon .share.btn {
        opacity: 1; /* Show the phone link on hover on larger screens */
    }
}

/*** Team End ***/

/* FOOTER */
.footer {
    background-color: #1a1a1a;
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--light);
  }

  .footer .footer-content .footer-info h6, a {
    color: var(--light);
  }
  
  .social-links a {
    font-size: 18px;
    display: inline-block;
    color: var(--light);
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .social-links a:hover {
    background: var(--secondary);
    text-decoration: none;
  }
  
  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .credits {
    font-size: 13px;
    color: #8b9ca3;
  }

  /* Style the icon bar links */
  .secondary-icone-social {
    background: var(--secondary);
    color: var(--text);
    width: 23px;
    height: 23px;
    margin-right: 8px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.secondary-icone-social:hover{
    color: black;
}

  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 25px;
    font-size: 30px;
  }
  
  .facebook {
    border-top-right-radius: 4px;
    background: var(--primary);
    color: white;
  }
  
  .mail {
    background: var(--primary);
    color: white;
    border-bottom-right-radius: 4px;
  }

  .whats {
    background: var(--secondary);
    color: white;
  }
  .logo {
    width: 40px;
    height: auto;
    margin: 20px;
    transition: transform 0.2s;
}
.logo:hover {
    transform: scale(1.1);
}
.score {
    font-size: 20px;
    margin-top: 10px;
    font-family: var(--font-p);
}

.cookie-consent {
    background-color: #000; 
}

.btn-close-white {
    width: 24px; 
    height: 24px; 
    background-color: #fff; 
    color: #000; 
    font-size: 16px; 
}

.text-center {
    text-align: center;
}

.btn-primary a {
    color: #fff;
    text-decoration: none;
}

  